<%#this helps to include styles %>
<% content_for :head do %> 
  <style>

  .form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  
  }
  .form-group{
    margin-bottom: 15px;
    text-align: center;
  }



  </style>
<% end %>
<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :rating%>
    <%= form.text_field :rating %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label :release_date %>
    <%= form.text_field :release_date %>
  </div>

  <div style="text-align: center;">
    <%= form.submit %>
  </div>
<% end %>
