<div id="<%= dom_id movie%>" style="text-align: center;">
  

    <h1><%= movie.title %></h1>
    <strong><p><%= "rating: #{movie.rating}" %></p></strong>
    <p> <%= movie.description %> <p>
    <p><%= movie.release_date %> <p>
</div>

  
    


