<div id="<%= dom_id movie %>">
  <table>
  <tr>
    <th>Title:</th>
    <td><%= movie.title %></td>
  </tr>

  <tr>
    <th>Rating:</th>
    <td><%= movie.rating %></td>
  </tr>

  <tr>
    <th>Description:</th>
    <td><%= movie.description %></td>
  </tr>

  <tr>
    <th>Release date:</th>
    <td><%= movie.release_date %></td>
  </tr>
  </table>
</div>
